<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event App</title>
    <link rel="stylesheet" href="../css/stylesdetail.css
    ">
</head>
<body>
    <div class="page detail">
        <div class="hero-image">
            <img src="../storage/img/Rectangle 4111.png" alt="Coldplay Concert">
            <a href="../index.html"><button class="back-button"></button></a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
            </button>
        </div>
        <div class="content">
            <h1>Coldplay : Music of the Spheres</h1>
            <p class="location">Gelora Bung Karno Stadium, Jakarta</p>
            <div class="participants">
                <div class="avatar-group">
                    <img src="../storage/img/Group 1.png" alt="">
                </div>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    50K+ Participants
                </p>
            </div>
            <div class="description">
                <h2>Description</h2>
                <p>Integer id sapien lacinia, iaculis eros ut, blandit quam. Donec in elit auctor, finibus quam in phar. Proin id ligula dictum, convallis orci vel, facilisis massa. Nam in a nibh ut sapien blandit volutpat. Integer non malesuada felis ac ante ipsum proin vel. In iaculis sed posuere egestas nunc ut tempus. Eu ipsum dolor sit amet.</p>
                <button class="read-more">Read More...</button>
            </div>
            <div class="venue">
                <h2>Venue & Location</h2>
                <div class="venue-image">
                    <img src="../storage/img/Mapsicle Map.png" alt="Venue Image" width="346" height="212">
                </div>
                <p>San Francisco</p>
            </div>
            <div class="buy-ticket">
                <div class="price-info">
                    <p>Start from</p>
                    <p class="price">IDR 1.100.000</p>
                </div>
                <a href="../views/ticket.html"><button class="buy-button">Buy Ticket</button></a>
            </div>
        </div>
    </div>
</body>
</html>